.Date
{
    display:grid;
    grid-template-columns:20px auto 30% 30% 20px;
    grid-template-rows: 50px 50px 20px;
    padding-top:20px;
}
.Date .AddMeeting
{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
}
.Date .EventDate,
.Date .Day
{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    padding:0 20px 0 0;
}
.Date .StartTime
{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    padding:0 10px;
}
.Date .EndTime
{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    padding:0 0 0 10px;
}
.Date .DeleteAction
{
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    padding:0 10px;
}
.Date .Day input,
.Date .EventDate input,
.Date .StartTime input,
.Date .EndTime input
{
    display:block;
}
.p-20
{
    padding:20px;
}