.button {
    display: inline-block;
    background: #486581;
    color: #F0F4F8;
    border: none !important;
    border-radius: 0;
    cursor: pointer;
}

.card_button
{
    width: calc(100% - 18px);
    padding:10px 5px;
    margin:4px;
    text-align: center;
}