.card
{
    border:4px solid #486581;
    background:#334E68;
    margin-bottom:20px;
}
.card_area
{
    border-bottom:4px solid #486581;
    padding:10px;
}
.card_area:last-child
{
    border-bottom: none !important;
}