.SelectBox
{
    position:relative;
}
.SelectBox svg
{
    color:#BAC6D1;
    position:absolute;
    top:5px;
    right:20px;
    opacity:0;
    transition:0.1s linear all;
}
.SelectBox svg.active
{
    opacity:1;
}
input{
    border-color: #486581;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    background:transparent;
    color:#BCCCDC;
}
input[type="checkbox"]
{
    opacity: 0;
}
.checkbox{
    position: relative;
    margin-bottom:10px;
}
.fakeCheckbox
{
    width:16px;
    height:16px;
    position: absolute;
    top:2px;
    left:2px;
    display:block;
    background-color: #829AB1;
    pointer-events: none;
}
input[type="checkbox"] + .fakeCheckbox svg
{
    display:none;
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color:white;
}
input[type="checkbox"]:checked + .fakeCheckbox svg
{
    display:block;
}
