.Meeting
{
    padding:0 5px;
}
.MemberList > div > span
{
    display:block;
    border-bottom:1px solid #BAC6D1;
    padding:10px 15px;
    color:#BAC6D1;
}
.MemberList > div
{
    position:relative;
}

.MemberList > div > svg
{
    position:absolute;
    right:20px;
    top:12px;
    color:#BAC6D1;
}
.MemberList > div > svg.active
{
    color:#cc0000;
}
.MeetingHeader
{
    position: relative;
}
.MeetingHeader span
{
    padding:5px 60px 5px 0;
    display:block;
    color:#BAC6D1;
}
.MeetingHeader svg{
    cursor:pointer;
}
.MeetingHeader svg.editModeToggle
{
    position:absolute;
    right:5px;
    top:6px;
    color:#BAC6D1;
}
.MeetingHeader svg.deleteMeeting
{
    position:absolute;
    right:30px;
    top:6px;
    color:#BAC6D1;
}
.MeetingHeader svg.deleteMeeting.confirm
{
    color:#cc0000 !important;
}
.editClosed
{
    display:none;
}
.editOpen
{
    display: block;
}