.MeetingAdminList .card
{
    max-width:calc(100vw - 50px);
    width:700px;
}
.MemberList > div
{
    position:relative;
}

.MeetingHeader
{
    position: relative;
    border-bottom:3px solid #486581;
}
.MeetingHeader span
{
    padding:5px 70px 5px 10px;
    display:block;
    color:#BAC6D1;
}
.MeetingHeader svg{
    cursor:pointer;
}
.MeetingHeader svg.editModeToggle
{
    position:absolute;
    right:15px;
    top:6px;
    color:#BAC6D1;
}
.MeetingHeader svg.deleteMeeting
{
    position:absolute;
    right:40px;
    top:6px;
    color:#BAC6D1;
}
.MeetingHeader svg.deleteMeeting.confirm
{
    color:#cc0000 !important;
}
.editClosed
{
    display:none;
}
.editOpen
{
    display: block;
}
.SelectBox svg{
    pointer-events: none;
}