.firstLevelLink
{
    display:inline-block;
    width:40px;
}
.relative
{
    position:relative;
}
.linkContainer
{
    
}
.iconSquare
{
    background:#334E68;
    min-width:40px;
    text-align: center;
    padding:10px 0;
    height:22px;
    display:inline-block;
    cursor:pointer;
    color:#BCCCDC;
    border-bottom:1px solid #486581;
    border-top:1px solid #486581;
}
.contentDimensions
{
    position:absolute;
    top:0;
    left:0;
}
.expandContainer
{
    position:absolute;
    top:0;
    left:40px;
    width:0;
    height:100%;
    overflow:hidden;
    transition:0.15s linear all;
}
.menuTitle
{
    height:20px;
    padding:10px 20px;
    display:block;
    background:#273D53;
    color:#BAC6D1;
    text-align: center;
    border-top:2px solid #486581;
    border-right:2px solid #486581;
    border-bottom:2px solid #486581;
}
.menuLinks a
{
    display:block;
    background-color:#273D53;
    color:#BAC6D1;
    text-decoration: none;
    white-space: nowrap;
    padding:5px 10px;
    border-bottom:1px solid #BAC6D1;
}
.menuLinks a svg
{
    margin-right:5px;
}
.menuLinks a:hover{
    background-color:#1d2122;
}
.menuLinks a:last-child
{
    border-bottom:none;
}