.TwitchStreamList .card
{
    max-width:calc(100vw - 50px);
    width:700px;
}





.addStreamBtn
{
    font-size:26px;
    margin-left:20px;
    color:#BAC6D1;
    cursor:pointer;
    position:absolute;
    top:50%;
    right:10px;
    transform:translateY(-50%);

}
.addStreamBtn:hover
{
    color:#485358;
}
.statedisplay
{
    height:10px;
    width:10px;
    border-radius: 9999px;
    display:block;
    position: absolute;
    top:50%;
    right:60px;
    transform:translateY(-50%);
}
.bg_green
{
    background-color: green;
}
.bg_red
{
    background-color: red;
}
.stream,
.command{
    color:#BAC6D1;
    position:relative;
}
.stream svg:nth-child(3),
.command svg:nth-child(2)
{
    position:absolute;
    right:10px;
    top:50%;
    transform:translateY(-50%);
}
.stream svg:nth-child(4),
.command svg:nth-child(3)
{
    position:absolute;
    right:40px;
    top:50%;
    transform:translateY(-50%);
}
.stream svg:nth-child(4).active,
.command svg:nth-child(3).active
{
    color:red;
}
.command_header,
.command_body
{
    border-bottom: 1px solid #BAC6D1;
}
.stream_header svg,
.command_header svg
{
    cursor:pointer;
}
.streamNavi
{
    transition:0.5s ease all;
    overflow: hidden;
    padding-left:10px;
    padding-right:10px;
    background:black;
}
.streamNavi .heightgiver
{
    padding:10px 0 ;
}
.streamNavi_Link
{
    display:block;
    background:#485358;
    border-radius:5px;
    margin-bottom:10px;
    text-align: center;
    font-size:20px;
    cursor:pointer;
}
.streamNavi_Link:hover{
    background: #BAC6D1;
    color:black;
}
.streamNavi_Link:last-child
{
    margin-bottom:0;
}
.prevButton
{
    width:30px;
    margin-right:10px;
    display:inline-block;
}
.prevButton svg
{
    color:#BAC6D1;
    cursor:pointer;
    font-size:26px;
}
.prevButton:hover svg
{
    color:#485358;
}
.shadowlayer
{
    position:relative;
    height:100%;
    width:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.7);
}

.formInputsContainer
{
    padding:20px;
}

.ModalBody
{
    max-width:100vw;
    max-height:100vh;
}
.streamGeneral label,
.streamGeneral input
{
    display:block;    
}
.streamRelay .status,
.streamRelay .randomrelaystate
{
    position:relative;
}
.streamRelay svg{
    position:absolute;
    right:0;
    top:0;
    color:red;
    transition:0.25s ease all;
    cursor:pointer;
}
.streamRelay svg.active,
.streamRelay svg:hover
{
    color:green;
}
.form{
    padding:5px;
}

.form label,
.form input,
.form textarea
{
    display:block;
}
.form textarea
{
    width: calc(100% - 5px);
}
.form .checkbox label,
.form .checkbox input
{
    display:inline-block;
}
.form input[type="text"],
.form input[type="number"]
{
    width: calc(100% - 5px);
    font-size:14px;
}
.form input[type="submit"]
{
    background: #BAC6D1 !important;
    font-size: 16px !important;
    line-height: 16px !important;
    padding: 10px 20px !important;
    cursor: pointer;
    display: inline-block;
    border:none;
    border-radius:5px;
}