.TabHeader
{
    display:flex;
    justify-content: space-evenly;
}
.TabHeader > span
{
    display:block;
    flex:1;
    padding:10px 20px;
    border-bottom:4px solid #486581;
    border-right:4px solid #486581;
    cursor:pointer;
    white-space: nowrap;
    color:#BAC6D1;
}
.TabHeader > span.active
{
    background:#243B53;
}
.TabHeader > span:last-child
{
    border-right: none;
}