@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto';
    font-size: 16px;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    margin-bottom: 10px;
    font-size: 16px;
    max-width: 100%;
}

textarea {
    border:2px solid #486581;
    background-color: transparent;
    color: #BCCCDC;
    font-family: 'Roboto';
    font-size: 16px;
}

label {
    color: #BAC6D1;
}

.h1 {
    font-size: 22px;
    color: #BAC6D1;
    font-weight: bold;
}

select {
    background: none;
    color: #BAC6D1;
    border: 2px solid#627D98;
    border-radius: 0;
    width: 100%;
    font-size: 16px;
    appearance: none;
}

select option {
    background: black;
}

.customselect {
    position: relative;
    width: 50%;
    float: right;
}

.customselect svg {
    position: absolute;
    right: 10px !important;
    top: 50% !important;
    transform: translateY(-50%);
    color: #BAC6D1 !important;
    pointer-events: none;
}

.font-closewhite {
    color: #F0F4F8;
}

.slider {
    height:40px;
}

.slider .track {
    height: 4px;
    top:50%;
    transform:translateY(-50%);

}

.slider .track-0 {
    background: #829AB1;
}

.slider .track-1 {
    background: #486581;
}

.slider .thumb {
    width: 30px;
    height: 30px;
    top: 50%;
    border-radius: 9999px;
    background-color: #F0F4F8;
    transform: translateX(-50%) translateY(-50%);
    cursor:pointer
}
.slider .thumb > span
{
    pointer-events: none;
    position:absolute;
    left:50%;
    top:50%;
    color:#486581;
    transform: translateX(-50%) translateY(-50%);
}